{% extends 'layouts/base.html' %}

{% block content %}

<h1>Tasks Page</h1>
{# note: esta es una tarea #}
{% for task in tasks %}

<div>
    <h1> {{task.title}}  {% if task.done == False %} ⏳ {% else %} ✅ {% endif %} </h1>

    <p>{{task.description}}</p>
    <p>Project: {{task.project}}</p>
    <button>
        Delete
    </button>
    {% if task.done == False %}
    <button>
        ✅ Done
    </button>
    {% else %}
    <button>
        ⏳ Undone
    </button>
    {% endif %}

</div>
{% endfor %}

{% endblock %}