body{
    background-color: #202020;
    color: whitesmoke;
}

.navbar{
    background-color: #404040;
    color: #000;
    padding: 5px 0;
}

.navbar ul{
    display: flex;
    justify-content:space-between;
}

.navbar ul li{
    list-style-type: none;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: aqua;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
}

.cards{
    background: whitesmoke;
    color: #000;
    padding: 10px;
    margin-bottom: 2px;
}

.input{
    background: wheat;
    padding: 5px;
    text-align: center;
    display: block;
}